:root {
  font-size: 16px;
}

body {
  margin: 1rem;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.02em;
}

h1,
h2 {
  font-weight: 800;
}

a:visited {
  color: blue;
}
