@font-face {
  font-family: "RM-Blackletter-Mono";
  src:
    url("https://r-and-m.s3.us-east-1.amazonaws.com/studio_website/R%26M_Blackletter_Mono_WIP-Regular.woff2") format("woff2");
}

body {
  height: 100vh;
  font-family: "RM-Sans-Mono";
  overflow: hidden;
  z-index: -999;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ball {
  position: absolute;
  width: 80px;
  height: 80px;
  font-family: "RM-Blackletter-Mono";
  font-size: 5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}


@media screen and (max-width: 480px) {
  .ball {
    width: 50px;
    height: 50px;
    font-size: 3.55rem;
  }

}