@font-face {
    font-family: "RM-Blackletter-Mono";
    src:
      url("../../../assets/blackletter-mono/R&M_Blackletter_Mono_WIP-Regular.woff") format("woff"),
      url("../../../assets/blackletter-mono/R&M_Blackletter_Mono_WIP-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "RM-Sans-Mono";
    src:
      url("../../../assets/sans-mono/R&M_Sans_Mono_WIP-Regular.woff") format("woff"),
      url("../../../assets/sans-mono/R&M_Sans_Mono_WIP-Regular.woff2") format("woff2");
}

body {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

section {
    display: flex;
    gap: 24px;
    font-family: "RM-Sans-Mono";
    padding: 12px;
    line-height: 1.6;
    font-size: 11px;
    border-top: 1px solid #000000;
    cursor: default;
}

section div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 0px;
}

ul {
    list-style-type: square;
    padding-inline-start: 12px;
}

img {
    width: 100%;
}

a {
    color: #000000;
}

a:hover {
    font-family: "RM-Blackletter-Mono";
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.effect--div {
    display: inline-block;
}

.effect--span {
    position: relative;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.blackletter {
    font-family: "RM-Blackletter-Mono";
}

#container--wrapper {
    position: relative;
    height: 20vh;
    /* background-color: green; */
    overflow-y: hidden;
    color: #ffffff;
}

#container--wrapper a {
    color: #ffffff;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    font-family: "RM-Blackletter-Mono";
    margin: auto;
    cursor: default;
    /* background-color: rgba(255, 0, 0, 0.176); */
    top: calc(50% - 25vh);
    z-index: -999;
    background-color: #000000;
}

.ball {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-family: "RM-Blackletter-Mono";
    font-size: 5.7rem;
    /* background-color: #72FBFD; */
    /* color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    Color: #ffffff;
}