@font-face {
  font-family: "RM-Blackletter-Mono";
  src:
    url("../../../assets/blackletter-mono/R&M_Blackletter_Mono_WIP-Regular.woff")
      format("woff"),
    url("../../../assets/blackletter-mono/R&M_Blackletter_Mono_WIP-Regular.woff2")
      format("woff2");
}

@font-face {
  font-family: "RM-Sans-Mono";
  src:
    url("../../../assets/sans-mono/R&M_Sans_Mono_WIP-Regular.woff")
      format("woff"),
    url("../../../assets/sans-mono/R&M_Sans_Mono_WIP-Regular.woff2")
      format("woff2");
}

h1 {
  font-family: RM-Blackletter-Mono;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5vw;
  cursor: default;
  line-height: 1.2;
  mix-blend-mode: multiply;
}

.sans-mono {
  font-family: "RM-Sans-Mono";
}

.effect--div {
  display: inline-block;
}

.effect--span {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
